# Environment variables required for the application
# Specify values through the AI Studio Settings menu or .env local development file

GEMINI_API_KEY=
APP_URL=
MONGODB_URI=
JWT_SECRET=
EMAIL_USER=
EMAIL_PASS=
ADMIN_USERNAME=
ADMIN_PASSWORD=
